<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">
  % if affiliate.pk:
    Edit Affiliate ${affiliate.name}
  % else:
    Create Affiliate
  % endif
</%block>

<section class="course-info">
  % if error_message:
    <div class="image-upload-error-message">${error_message}</div>
  % endif

  <div class="edit-affiliate-container">
    <h1 class="explore-header">Membership</h1>

    <form action="${affiliate.pk}/add_member" method="POST" id="add_member_form">
      <input type="text" name="member_identifier" placeholder="member email/username" />
      <select name="role">
        % for role_choice in role_choices:
          <option value="${role_choice[0]}">${role_choice[1]}</option>
        % endfor
      </select>
      <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}" />
      <input type="submit" value="Add" id="add_member_submit" />
    </form>

    <table id="affiliate_membership_table">
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
      </thead>
      % for membership in affiliate.memberships:
        <tr>
          <td>${membership.member.profile.name}</td>
          <td>${membership.member.email}</td>
          <td>${membership.get_role_display()}</td>
          <td>
            <a href="${affiliate.id}/remove_member/${membership.member.id}">
              Remove
            </a>
          </td>
        </tr>
      % endfor
    </table>
  </div>

  % if is_program_director:

    % if affiliate.pk:
      <form class="edit-affiliate-container" action="/affiliates/edit/${affiliate.pk}" method="POST" enctype="multipart/form-data">
    % else:
      <form class="edit-affiliate-container" action="/affiliates/create" method="POST" enctype="multipart/form-data">
    % endif

      <br>
      % if affiliate.pk:
        <h1 class="explore-header">Edit Affiliate Profile</h1>
      % else:
        <h1 class="explore-header">Create Affiliate</h1>
      % endif

      <br>
      <div>
        <label for="">Public Contact Email</label>
        <br>
        <input type="email" value="${affiliate.email}" name="email">
      </div>
      <br>

      <br>
      <div>
        <label for="">Profile Image</label>
        <input class="upload-profile-image" type="file" name="image">
      </div>
      <br>

      <br>
      <div>
        <label for="">Affiliate Organization</label>
        <br>
        <input type="text" value="${affiliate.name}" name="name">
      </div>
      <br>

      <br>
      <div>
        <label for="">Address</label>
        <br>
        <input type="text" value="${affiliate.address}" name="address">
      </div>
      <br>

      <br>
      <div>
        <label for="">City</label>
        <br>
        <input type="text" value="${affiliate.city}" name="city">
      </div>
      <br>

      <br>
      <div>
        <label for="">State</label>
        <br>
        <br>
        <select name="state">
          % for choice in state_choices:
            <option value="${choice[0]}" ${'selected' if affiliate.state == choice[0] else ''}>${choice[1]}</option>
          % endfor
        </select>
      </div>
      <br>

      <br>
      <div>
        <label for="">Zip Code</label>
        <br>
        <input type="text" value="${affiliate.zipcode}" name="zipcode">
      </div>
      <br>

      <br>
      <div>
        <label for="">Country</label>
        <br>
        <br>
        <select name="country">
          % for country in countries:
            <option value="${country[0]}" ${'selected' if affiliate.country == country[0] else ''}>${country[1]}</option>
          % endfor
        </select>
      </div>
      <br>

      <br>
      <div>
        <label for="">Public Contact Phone Number</label>
        <br>
        <input type="text" value="${affiliate.phone_number}" name="phone_number">
      </div>
      <br>

      <br>
      <div>
        <label for="">Description</label>
        <br>
        <textarea name="description">${affiliate.description}</textarea>
      </div>
      <br>

      <br>
      <br>
      <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}" />
      <input type="submit" value="Save" />
    </form>
  % endif
</section>
